@CHARSET "UTF-8";
.logo{
	float: left;
	width: 200px;
	margin-left: 20px;
	margin-top: 5px;
}

.navigation{
	float: left;
	margin-top:30px;
	margin-left:30px;
	text-align: center;
}

.welcom{
	float:right;
	margin-top:30px;
	margin-right: 40px
}
.wel-out{
	float: right;
	padding-top:6px;
}
.wel-name{
	float: right;
	padding-top:6px;
	margin-right: 10px;
}
.wel-img{
	float:right;
	margin-right: 10px;
}

